<h2>Login</h2>
<form action="/login" method="post">

  <input type="email" name="email">
  <br><br>
  <input type="password" name="password">
  <br><br>
  <button type="submit">Login</button>

</form>
<hr>
<h2>Sing up</h2>
<form action="/user" method="post">

  <input type="text" name="nickname">
  <br><br>
  <input type="email" name="email">
  <br><br>
  <input type="password" name="password">
  <br><br>
  <button type="submit">Sing up</button>

</form>
